src/main/schema/core30.rnc

default namespace p = "http://www.w3.org/ns/xproc"
namespace c = "http://www.w3.org/ns/xproc-step"
namespace s = "http://www.ascc.net/xml/schematron"
namespace local = ""
namespace sa = "http://xproc.org/ns/syntax-annotations"
namespace xs = "http://www.w3.org/2001/XMLSchema"

# This schema neither supports nor requires the use of RELAX NG DTD Compatibility

[
   sa:model = "XPathExpression"
]
XPathExpression = text

[
   sa:model = "XSLTSelectionPattern"
]
XSLTSelectionPattern = text

[
   sa:model = "XPathSequenceType"
]
XPathSequenceType = text

[
   sa:model = "ContentType"
]
ContentType = text

[
   sa:model = "ContentTypes"
]
ContentTypes = text

[
   sa:model = "map(xs:QName,item()*)"
]
PropertyMap = text

[
   sa:model = "map(xs:QName,item()*)"
]
SerializationMap = text

[
   sa:model = "EQName*"
]
ListOfEQName = text

[
   sa:model = "char"
]
Char = text

name.ncname.attr = attribute name { xsd:NCName }
name.qname.attr = attribute name { xsd:QName }
as.attr = attribute as { XPathSequenceType }
port.attr = attribute port { xsd:NCName }
required.attr = attribute required { xsd:boolean }
sequence.attr = attribute sequence { xsd:boolean }
primary.attr = attribute primary { xsd:boolean }
select.attr = attribute select { XPathExpression }
xpath-version.attr = attribute xpath-version { text }
psvi-required.attr = attribute psvi-required { xsd:boolean }
document-properties.attr = attribute document-properties { PropertyMap }
serialization.attr = attribute serialization { SerializationMap }
content-type.attr = attribute content-type { ContentType }
content-types.attr = attribute content-types { ContentTypes }
collection.attr = attribute collection { xsd:boolean }
pipe.attr = attribute pipe { text }
static.attr = attribute static { xsd:boolean }
visibility.attr = attribute visibility { "private" | "public"  }

exclude-inline-prefixes.attr =
   attribute exclude-inline-prefixes { ExcludeInlinePrefixes }

# Bah, humbug. The ExcludeInlinePrefixes pattern should
# really be ("#all" | (PrefixList & "#default"?)) or
# maybe ("#all" | (PrefixList | "#default")+), but neither
# one of those is allowed by RELAX NG.
[
   sa:model = "ExcludeInlinePrefixes"
]
ExcludeInlinePrefixes = text

[
   sa:model = "PrefixList"
]
PrefixList = xsd:NMTOKENS

[
   sa:model = "EQNameList"
]
EQNameList = xsd:NMTOKENS

[
   sa:ignore = "yes"
]
xmlid.attr = attribute xml:id { xsd:ID }

[
   sa:ignore = "yes"
]
xmlbase.attr = attribute xml:base { xsd:anyURI }
href.attr = attribute href { xsd:anyURI }

[
   sa:ignore = "yes"
]
use-when.attr = attribute use-when { XPathExpression }

[
   sa:ignore = "yes"
]
p_use-when.attr = attribute p:use-when { XPathExpression }

[
   sa:ignore = "yes"
]
expand-text.attr = attribute expand-text { xsd:boolean }

[
   sa:ignore = "yes"
]
p_expand-text.attr = attribute p:expand-text { xsd:boolean }

[
   sa:ignore = "yes"
]
inline-expand-text.attr = attribute inline-expand-text { xsd:boolean }

[
   sa:ignore = "yes"
]
p_inline-expand-text.attr = attribute p:inline-expand-text { xsd:boolean }

[
   sa:ignore = "yes"
]
depends.attr = attribute depends { xsd:NMTOKENS }

[
   sa:ignore = "yes"
]
p_depends.attr = attribute p:depends { xsd:NMTOKENS }

[
   sa:ignore = "yes"
]
timeout.attr = attribute timeout { xsd:nonNegativeInteger }

[
   sa:ignore = "yes"
]
p_timeout.attr = attribute p:timeout { xsd:nonNegativeInteger }

[
   sa:ignore = "yes"
]
message.attr = attribute message { text }

[
   sa:ignore = "yes"
]
p_message.attr = attribute p:message { text }

version.attr = attribute version { "3.0" }

common.attributes = xmlid.attr?, xmlbase.attr?, extension.attr*

global.attributes = use-when.attr?, expand-text.attr?
p_global.attributes = p_use-when.attr?, p_expand-text.attr?

step.attributes = depends.attr?, timeout.attr?, message.attr?
p_step.attributes = p_depends.attr?, p_timeout.attr?, p_message.attr?

inline.attributes = exclude-inline-prefixes.attr?

decl.attributes = psvi-required.attr?,
   xpath-version.attr?,
   exclude-inline-prefixes.attr?,
   version.attr?

# ============================================================

start = Library | DeclareStep
 | VocabParam | VocabParamSet | VocabResult | VocabHttpRequest
 | VocabHeader | VocabMultipart | VocabBody | VocabHttpResponse | VocabQuery
 | VocabLine | VocabData | VocabDirectory | Errors | StandardStep | ExtraStep

# StandardStep is explicitly unspecified because this is not a complete schema
ExtraStep = notAllowed

# ============================================================

[
   sa:class = "language-construct"
]
Library =
   element library {
      decl.attributes,
      common.attributes,
      global.attributes,
      (Import|ImportFunctions|Documentation|PipeInfo)*,
      (DeclareStep|StaticVariable|StaticOption|Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Import =
   element import {
      common.attributes,
      global.attributes,
      href.attr,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
ImportFunctions =
   element import-functions {
      common.attributes,
      global.attributes,
      href.attr,
      content-type.attr?,
      attribute namespace { xsd:anyURI+ }?,
      (Documentation|PipeInfo)*
   }

[
   sa:model = "subpipeline"
]
Subpipeline = (Variable|ForEach|Viewport|Choose|If|Group|Try|OtherStep|Documentation|PipeInfo)+

# ============================================================

[
   sa:class = "language-construct"
   sa:element = "input"
]
Input =
   element input {
      port.attr,
      sequence.attr?,
      primary.attr?,
      select.attr?,
      content-types.attr?,
      [ sa:avt = "true" ]
         href.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      ( ( (\Empty | (Document|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:class = "language-construct"
   sa:element = "with-input"
]
WithInput =
   element with-input {
      port.attr?,
      select.attr?,
      [ sa:avt = "true" ]
         href.attr?,
         pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

# ============================================================

[
   sa:class = "language-construct"
]
AtomicOutputDeclaration =
   element output {
      port.attr?,
      sequence.attr?,
      primary.attr?,
      content-types.attr?,
      common.attributes,
      global.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
CompoundOutputDeclaration =
   element output {
      port.attr?,
      sequence.attr?,
      primary.attr?,
      content-types.attr?,
      [ sa:avt = "true" ]
         href.attr?,
      pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:class = "language-construct"
]
PipelineOutputDeclaration =
   element output {
      port.attr?,
      sequence.attr?,
      primary.attr?,
      content-types.attr?,
      [ sa:avt = "true" ]
         href.attr?,
      pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      serialization.attr?,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:element = "output"
]
Output = CompoundOutputDeclaration | AtomicOutputDeclaration | PipelineOutputDeclaration

[
   sa:class = "language-construct"
]
Pipe =
   element pipe {
      attribute step { xsd:NCName }?,
      port.attr?,
      common.attributes,
      global.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Document =
   element document {
      [ sa:avt = "true" ]
         href.attr,
      attribute content-type { text }?,
      document-properties.attr?,
      attribute parameters { PropertyMap }?,
      common.attributes,
      global.attributes,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
Inline =
   element inline {
      common.attributes,
      global.attributes,
      inline.attributes,
      attribute content-type { text }?,
      document-properties.attr?,
      attribute encoding { text }?,
      Any*
   }

[
   sa:class = "language-construct"
]
\Empty =
   element empty {
      common.attributes,
      global.attributes,
      (Documentation|PipeInfo)*
   }

# ============================================================

[
   sa:class = "language-construct"
]
Option =
   element option {
      name.qname.attr,
      as.attr?,
      attribute values { text }?,
      static.attr?,
      required.attr?,
      select.attr?,
      common.attributes,
      global.attributes,
      visibility.attr?,
      (Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
StaticOption =
   element option {
      name.qname.attr,
      as.attr?,
      attribute values { text }?,
      attribute static { "true" },
      select.attr,
      common.attributes,
      global.attributes,
      visibility.attr?,
      (Documentation|PipeInfo)*
   }

# ============================================================

[
   sa:class = "language-construct"
]
WithOption =
   element with-option {
      name.qname.attr,
      as.attr?,
      select.attr,
      [ sa:avt = "true" ]
        collection.attr?,
      [ sa:avt = "true" ]
         href.attr?,
         pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

# ============================================================

[
   sa:class = "language-construct"
]
GeneralVariable =
   element variable {
      name.qname.attr,
      as.attr?,
      static.attr?,
      select.attr,
      [ sa:avt = "true" ]
         collection.attr?,
      [ sa:avt = "true" ]
         href.attr?,
      pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      visibility.attr?,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:class = "language-construct"
]
DynamicVariable =
   element variable {
      name.qname.attr,
      attribute static { "false" }?,
      as.attr?,
      select.attr,
      [ sa:avt = "true" ]
         collection.attr?,
      [ sa:avt = "true" ]
         href.attr?,
       pipe.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      ( ( (\Empty | (Document|Pipe|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:class = "language-construct"
]
StaticVariable =
   element variable {
      name.qname.attr,
      attribute static { "true" },
      as.attr?,
      select.attr,
      [ sa:avt = "true" ]
         collection.attr?,
      [ sa:avt = "true" ]
         href.attr?,
      common.attributes,
      global.attributes,
      inline.attributes,
      visibility.attr?,
      ( ( (\Empty | (Document|Inline)*) & (Documentation|PipeInfo)* ) | AnyElement* )
   }

[
   sa:element = "variable"
]
Variable = DynamicVariable | StaticVariable

# ============================================================

[
   sa:class = "language-construct"
]
DeclarePipelineStep =
   element declare-step {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      decl.attributes,
      visibility.attr?,
      common.attributes,
      global.attributes,
      (Import|ImportFunctions|Documentation|PipeInfo)*,
      (Input|Output|Option|StaticVariable|Documentation|PipeInfo)*,
      (DeclareStep|Documentation|PipeInfo)*,Subpipeline?
   }

[
   sa:class = "language-construct"
]
DeclareAtomicStep =
   element declare-step {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      decl.attributes,
      visibility.attr?,
      common.attributes,
      global.attributes,
      (Input|AtomicOutputDeclaration|Option|Documentation|PipeInfo)*
   }

[
   sa:element = "declare-step"
]
DeclareStep = DeclarePipelineStep | DeclareAtomicStep

# ============================================================

[
   sa:class = "language-construct"
]
ForEach =
   element for-each {
      name.ncname.attr?,
      common.attributes,
      global.attributes,
      step.attributes,
      ((WithInput? & (Output|Documentation|PipeInfo)*), Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Viewport =
   element viewport {
      name.ncname.attr?,
      [ sa:avt = "true" ]
         attribute match { XSLTSelectionPattern },
      common.attributes,
      global.attributes,
      step.attributes,
      ((WithInput? & Output? & Documentation* & PipeInfo*), Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Choose =
   element choose {
      name.ncname.attr?,
      common.attributes,
      global.attributes,
      step.attributes,

      ((Documentation|PipeInfo)*,
       WithInput?,

       ((((Documentation|PipeInfo)*, When)+,
         ((Documentation|PipeInfo)*, Otherwise)?)
       | (((Documentation|PipeInfo)*, When)*,
         ((Documentation|PipeInfo)*, Otherwise))),

       (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
When =
   element when {
   	  name.ncname.attr?,
      attribute test { XPathExpression },
      [ sa:avt = "true" ]
         collection.attr?,
      common.attributes,
      global.attributes,
      ((Documentation|PipeInfo)*,
         WithInput?,
         (Output|Documentation|PipeInfo)*,
         Subpipeline)
   }

[
   sa:class = "language-construct"
]
Otherwise =
   element otherwise {
    	name.ncname.attr?,
      common.attributes,
      global.attributes,
      ((Output|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
If =
   element if {
   	  name.ncname.attr?,
      attribute test { XPathExpression },
      [ sa:avt = "true" ]
         collection.attr?,
      common.attributes,
      global.attributes,
      step.attributes,
      ((Documentation|PipeInfo)*,
         WithInput?,
         (Output|Documentation|PipeInfo)*,
         Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Group =
   element group {
      name.ncname.attr?,
      common.attributes,
      global.attributes,
      step.attributes,
      ((Output|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
Try =
   element try {
      name.ncname.attr?,
      common.attributes,
      global.attributes,
      step.attributes,
      ((Output*, Subpipeline, ((Catch+, Finally?)|(Catch*, Finally))) & (Documentation|PipeInfo)*)
   }

[
   sa:class = "language-construct"
]
Catch =
   element catch {
      name.ncname.attr?,
      attribute code { EQNameList }?,
      common.attributes,
      global.attributes,
      ((Output|Documentation|PipeInfo)*, Subpipeline)
   }

[
   sa:class = "language-construct"
]
Finally =
   element finally {
      name.ncname.attr?,
      common.attributes,
      global.attributes,
      ((Output|Documentation|PipeInfo)*, Subpipeline)
   }

# ============================================================

[
   sa:class = "language-construct"
]
OtherAtomicStep =
   element * - (p:*) {
      name.ncname.attr?,
      option.attr*,
      common.attributes,
      p_global.attributes,
      p_step.attributes,
      (WithInput|WithOption|Documentation|PipeInfo)*
   }

[
   sa:class = "language-construct"
]
OtherCompoundStep =
   element * - (p:*) {
      name.ncname.attr?,
      common.attributes,
      p_global.attributes,
      p_step.attributes,
      ((Output|Documentation|PipeInfo)*, Subpipeline)
   }

OtherStep = StandardStep | OtherAtomicStep | OtherCompoundStep

# ============================================================
[
   sa:ignore = "yes"
   sa:class = "language-construct"
]
Documentation =
   element documentation {
      common.attributes,
      global.attributes,
      DocContent*
   }

[
   sa:model = "any-well-formed-content"
]
DocContent = Any

# ============================================================
[
   sa:ignore = "yes"
   sa:class = "language-construct"
]
PipeInfo =
   element pipeinfo {
      common.attributes,
      global.attributes,
      DocContent*
   }

# ============================================================

_any.attr =
   attribute * { text }

option.attr =
   attribute (local:* - (local:name | local:expand-text | local:use-when)) { text }

extension.attr =
   attribute (* - (local:*|xml:*|p:*)) { text }

[
   sa:model = "anyElement"
]
AnyElement =
   element * {
      (_any.attr | text | AnyElement)*
   }

[
   sa:model = "anyNode"
]
Any =
   (element * {
       (_any.attr | Any)*
    }
   | text)

# ============================================================

[
   sa:class = "step-vocabulary"
]
VocabParam =
   element c:param {
      name.qname.attr,
      attribute namespace { xsd:anyURI }?,
      attribute value { text }?,
      as.attr?,
      AnyElement*
   }

[
   sa:class = "step-vocabulary"
]
VocabParamSet =
   element c:param-set {
      VocabParam*
   }

[
   sa:class = "step-vocabulary"
]
VocabDirectory =
   element c:directory {
      attribute name { text },
      ((VocabFile|VocabDirectory|VocabOther)*)
   }
[
   sa:class = "step-vocabulary"
]
VocabFile =
   element c:file {
      attribute name { text },
      content-types.attr?,
      empty
   }
[
   sa:class = "step-vocabulary"
]
VocabOther =
   element c:other {
      attribute name { text },
      empty
   }
[
   sa:class = "step-vocabulary"
]
VocabResult =
   element c:result {
      text
   }
[
   sa:class = "step-vocabulary"
]
VocabHttpRequest =
   element c:request {
      attribute method { xsd:NCName },
      attribute href { xsd:anyURI }?,
      attribute detailed { xsd:boolean }?,
      attribute status-only { xsd:boolean }?,
      attribute username { text }?,
      attribute password { text }?,
      attribute auth-method { text }?,
      attribute send-authorization { xsd:boolean }?,
      attribute override-content-type { ContentType }?,
      attribute timeout {xsd:positiveInteger}?,
      attribute fail-on-timeout {xsd:boolean}?,
      (VocabHeader*,(VocabMultipart|VocabBody)?)
   }

[
   sa:class = "step-vocabulary"
]
VocabHeader =
   element c:header {
      attribute name { text },
      attribute value { text },
      empty
   }

[
   sa:class = "step-vocabulary"
]
VocabMultipart =
   element c:multipart {
      content-type.attr,
      attribute boundary { text },
      (VocabBody)+
   }

[
   sa:class = "step-vocabulary"
]
VocabBody =
   element c:body {
      content-type.attr,
      attribute encoding { text }?,
      attribute id { text }?,
      attribute description { text }?,
      attribute disposition { text }?,
      Any*
   }

[
   sa:class = "step-vocabulary"
]
VocabHttpResponse =
   element c:response {
      attribute status { xsd:integer }?,
      (VocabHeader*,(VocabMultipart|VocabBody)?)
   }

[
   sa:class = "step-vocabulary"
]
VocabQuery =
   element c:query {
      text
   }

[
   sa:class = "step-vocabulary"
]
VocabLine =
   element c:line {
      text
   }

[
   sa:class = "step-vocabulary"
]
VocabData =
   element c:data {
      content-type.attr,
      attribute charset { text }?,
      attribute encoding { text }?,
      text
   }

# ============================================================

[
   sa:class = "error-vocabulary"
]
Errors =
   element c:errors {
      Error*
   }

[
   sa:class = "error-vocabulary"
]
Error =
   element c:error {
      name.ncname.attr?,
      attribute type { xsd:QName }?,
      attribute code { xsd:QName }?,
      attribute href { xsd:anyURI }?,
      attribute line { xsd:integer }?,
      attribute column { xsd:integer }?,
      attribute offset { xsd:integer }?,
      Any*
   }

Charset = text
Encoding = text
MIMEContentType = text
MIMEMediaType = text
RegularExpression = text
NormalizationForm = 'NFC'|'NFD'|'NFKC'|'NFKD'|'fully-normalized'|'none'|xsd:NMTOKEN
ListOfQNames = text
