pr/675/etc/step-message/steps.rnc

default namespace p = "http://www.w3.org/ns/xproc"
namespace local = ""

# This schema could be made more constrained.

Step = Step-message

Step-message =
  element message {
    name.ncname.attr?,
    common.attributes,
    use-when.attr?,
    step.attributes,
    attribute test { avt.datatype }?,
    attribute select { avt.datatype }?,
    (WithInput* & WithOption* & (Documentation|PipeInfo)*)
  }

