master/head/etc/steps/steps.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.w3.org/ns/xproc" xmlns="http://relaxng.org/ns/structure/1.0">
  <!-- This schema could be made more constrained. -->
  <define name="Step">
    <choice>
      <ref name="Step-add-attribute"/>
      <ref name="Step-add-xml-base"/>
      <ref name="Step-archive"/>
      <ref name="Step-archive-manifest"/>
      <ref name="Step-cast-content-type"/>
      <ref name="Step-compare"/>
      <ref name="Step-compress"/>
      <ref name="Step-count"/>
      <ref name="Step-delete"/>
      <ref name="Step-error"/>
      <ref name="Step-filter"/>
      <ref name="Step-hash"/>
      <ref name="Step-http-request"/>
      <ref name="Step-identity"/>
      <ref name="Step-insert"/>
      <ref name="Step-json-join"/>
      <ref name="Step-json-merge"/>
      <ref name="Step-label-elements"/>
      <ref name="Step-load"/>
      <ref name="Step-make-absolute-uris"/>
      <ref name="Step-namespace-delete"/>
      <ref name="Step-namespace-rename"/>
      <ref name="Step-pack"/>
      <ref name="Step-rename"/>
      <ref name="Step-replace"/>
      <ref name="Step-set-attributes"/>
      <ref name="Step-set-properties"/>
      <ref name="Step-sink"/>
      <ref name="Step-split-sequence"/>
      <ref name="Step-store"/>
      <ref name="Step-string-replace"/>
      <ref name="Step-text-count"/>
      <ref name="Step-text-head"/>
      <ref name="Step-text-join"/>
      <ref name="Step-text-replace"/>
      <ref name="Step-text-sort"/>
      <ref name="Step-text-tail"/>
      <ref name="Step-unarchive"/>
      <ref name="Step-uncompress"/>
      <ref name="Step-unwrap"/>
      <ref name="Step-uuid"/>
      <ref name="Step-wrap-sequence"/>
      <ref name="Step-wrap"/>
      <ref name="Step-www-form-urldecode"/>
      <ref name="Step-www-form-urlencode"/>
      <ref name="Step-xinclude"/>
      <ref name="Step-xquery"/>
      <ref name="Step-xslt"/>
    </choice>
  </define>
  <define name="Step-add-attribute">
    <element name="add-attribute">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-name">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attribute-value">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-add-xml-base">
    <element name="add-xml-base">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="all">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="relative">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-archive">
    <element name="archive">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="format">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="relative-to">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-archive-manifest">
    <element name="archive-manifest">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="format">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="relative-to">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="override-content-types">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-cast-content-type">
    <element name="cast-content-type">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="content-type">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-compare">
    <element name="compare">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="method">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="fail-if-not-equal">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-compress">
    <element name="compress">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="format">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="serialization">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-count">
    <element name="count">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="limit">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-delete">
    <element name="delete">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-error">
    <element name="error">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="code">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-filter">
    <element name="filter">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="select">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-hash">
    <element name="hash">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="value">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="algorithm">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-http-request">
    <element name="http-request">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="href">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="method">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="serialization">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="headers">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="auth">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="assert">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-identity">
    <element name="identity">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-insert">
    <element name="insert">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="position">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-json-join">
    <element name="json-join">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="flatten-to-depth">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-json-merge">
    <element name="json-merge">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="duplicates">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="key">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-label-elements">
    <element name="label-elements">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="attribute">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="label">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="replace">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-load">
    <element name="load">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="href">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="content-type">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="document-properties">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-make-absolute-uris">
    <element name="make-absolute-uris">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="base-uri">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-namespace-delete">
    <element name="namespace-delete">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="prefixes">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-namespace-rename">
    <element name="namespace-rename">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="from">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="to">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="apply-to">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-pack">
    <element name="pack">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="wrapper">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-rename">
    <element name="rename">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="new-name">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-replace">
    <element name="replace">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-set-attributes">
    <element name="set-attributes">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="attributes">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-set-properties">
    <element name="set-properties">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="properties">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="merge">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-sink">
    <element name="sink">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-split-sequence">
    <element name="split-sequence">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="initial-only">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="test">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-store">
    <element name="store">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="href">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="serialization">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-string-replace">
    <element name="string-replace">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="replace">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-count">
    <element name="text-count">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-head">
    <element name="text-head">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="count">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-join">
    <element name="text-join">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="separator">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="prefix">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="suffix">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="override-content-type">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-replace">
    <element name="text-replace">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="pattern">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="replacement">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="flags">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-sort">
    <element name="text-sort">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="sort-key">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="order">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="case-order">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="lang">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="collation">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="stable">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-text-tail">
    <element name="text-tail">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="count">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-unarchive">
    <element name="unarchive">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="include-filter">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="exclude-filter">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="format">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="relative-to">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="override-content-types">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-uncompress">
    <element name="uncompress">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="format">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="content-type">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-unwrap">
    <element name="unwrap">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-uuid">
    <element name="uuid">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-wrap-sequence">
    <element name="wrap-sequence">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="wrapper">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="group-adjacent">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-wrap">
    <element name="wrap">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="wrapper">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="match">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="group-adjacent">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-www-form-urldecode">
    <element name="www-form-urldecode">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="value">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-www-form-urlencode">
    <element name="www-form-urlencode">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-xinclude">
    <element name="xinclude">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="fixup-xml-base">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="fixup-xml-lang">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-xquery">
    <element name="xquery">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Step-xslt">
    <element name="xslt">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="step.attributes"/>
      <optional>
        <attribute name="parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="static-parameters">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="global-context-item">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="initial-mode">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="template-name">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="output-base-uri">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="version">
          <ref name="avt.datatype"/>
        </attribute>
      </optional>
      <interleave>
        <zeroOrMore>
          <ref name="WithInput"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="WithOption"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
</grammar>
