pr/621/etc/step-ixml/steps.rnc

default namespace p = "http://www.w3.org/ns/xproc"
namespace local = ""

# This schema could be made more constrained.

Step = Step-ixml

Step-ixml =
  element ixml {
    name.ncname.attr?,
    common.attributes,
    use-when.attr?,
    step.attributes,
    attribute parameters { avt.datatype }?,
    attribute fail-on-error { avt.datatype }?,
    (WithInput* & WithOption* & (Documentation|PipeInfo)*)
  }

