langspec/schemas/xproc_dtd_4.ent

<!ELEMENT %add-attribute; %step-model;>
<!ATTLIST %add-attribute; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 attribute-name %QName; #IMPLIED
 attribute-prefix %NCName; #IMPLIED
 attribute-namespace %URIref; #IMPLIED
 attribute-value CDATA #IMPLIED>
<!ELEMENT %add-xml-base; %step-model;>
<!ATTLIST %add-xml-base; %step-attrs;
 all %boolean; #IMPLIED
 relative %boolean; #IMPLIED>
<!ELEMENT %cast-content-type; %step-model;>
<!ATTLIST %cast-content-type; %step-attrs;
 content-type CDATA #IMPLIED>
<!ELEMENT %compare; %step-model;>
<!ATTLIST %compare; %step-attrs;
 fail-if-not-equal %boolean; #IMPLIED>
<!ELEMENT %count; %step-model;>
<!ATTLIST %count; %step-attrs;
 limit %integer; #IMPLIED>
<!ELEMENT %delete; %step-model;>
<!ATTLIST %delete; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED>
<!ELEMENT %directory-list; %step-model;>
<!ATTLIST %directory-list; %step-attrs;
 path %URIref; #IMPLIED
 include-filter %regexp; #IMPLIED
 exclude-filter %regexp; #IMPLIED>
<!ELEMENT %error; %step-model;>
<!ATTLIST %error; %step-attrs;
 code %QName; #IMPLIED
 code-prefix %NCName; #IMPLIED
 code-namespace %URIref; #IMPLIED>
<!ELEMENT %escape-markup; %step-model;>
<!ATTLIST %escape-markup; %step-attrs;
 cdata-section-elements NMTOKENS #IMPLIED
 doctype-public CDATA #IMPLIED
 doctype-system %URIref; #IMPLIED
 escape-uri-attributes %boolean; #IMPLIED
 include-content-type %boolean; #IMPLIED
 indent %boolean; #IMPLIED
 media-type CDATA #IMPLIED
 method %QName; #IMPLIED
 omit-xml-declaration %boolean; #IMPLIED
 standalone (true|false|omit) #IMPLIED
 undeclare-prefixes %boolean; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %filter; %step-model;>
<!ATTLIST %filter; %step-attrs;
 select %XPath_expression; #IMPLIED>
<!ELEMENT %http-request; %step-model;>
<!ATTLIST %http-request; %step-attrs;
 byte-order-mark %boolean; #IMPLIED
 cdata-section-elements NMTOKENS #IMPLIED
 doctype-public CDATA #IMPLIED
 doctype-system %URIref; #IMPLIED
 encoding CDATA #IMPLIED
 escape-uri-attributes %boolean; #IMPLIED
 include-content-type %boolean; #IMPLIED
 indent %boolean; #IMPLIED
 media-type CDATA #IMPLIED
 method %QName; #IMPLIED
 normalization-form NMTOKEN #IMPLIED
 omit-xml-declaration %boolean; #IMPLIED
 standalone (true|false|omit) #IMPLIED
 undeclare-prefixes %boolean; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %identity; %step-model;>
<!ATTLIST %identity; %step-attrs;>
<!ELEMENT %insert; %step-model;>
<!ATTLIST %insert; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 position (first-child|last-child|before|after) #IMPLIED>
<!ELEMENT %label-elements; %step-model;>
<!ATTLIST %label-elements; %step-attrs;
 attribute %QName; #IMPLIED
 attribute-prefix %NCName; #IMPLIED
 attribute-namespace %URIref; #IMPLIED
 label %XPath_expression; #IMPLIED
 match %XSLT_match_pattern; #IMPLIED
 replace %boolean; #IMPLIED>
<!ELEMENT %load; %step-model;>
<!ATTLIST %load; %step-attrs;
 href %URIref; #IMPLIED
 dtd-validate %boolean; #IMPLIED
 override-content-type CDATA #IMPLIED>
<!ELEMENT %make-absolute-uris; %step-model;>
<!ATTLIST %make-absolute-uris; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 base-uri %URIref; #IMPLIED>
<!ELEMENT %namespace-rename; %step-model;>
<!ATTLIST %namespace-rename; %step-attrs;
 from %URIref; #IMPLIED
 to %URIref; #IMPLIED
 apply-to (all|elements|attributes) #IMPLIED>
<!ELEMENT %pack; %step-model;>
<!ATTLIST %pack; %step-attrs;
 wrapper %QName; #IMPLIED
 wrapper-prefix %NCName; #IMPLIED
 wrapper-namespace %URIref; #IMPLIED>
<!ELEMENT %parameters; %step-model;>
<!ATTLIST %parameters; %step-attrs;
 parameters CDATA #IMPLIED>
<!ELEMENT %rename; %step-model;>
<!ATTLIST %rename; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 new-name %QName; #IMPLIED
 new-prefix %NCName; #IMPLIED
 new-namespace %URIref; #IMPLIED>
<!ELEMENT %replace; %step-model;>
<!ATTLIST %replace; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED>
<!ELEMENT %set-attributes; %step-model;>
<!ATTLIST %set-attributes; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED>
<!ELEMENT %set-properties; %step-model;>
<!ATTLIST %set-properties; %step-attrs;
 properties CDATA #IMPLIED>
<!ELEMENT %sink; %step-model;>
<!ATTLIST %sink; %step-attrs;>
<!ELEMENT %split-sequence; %step-model;>
<!ATTLIST %split-sequence; %step-attrs;
 initial-only %boolean; #IMPLIED
 test %XPath_expression; #IMPLIED>
<!ELEMENT %store; %step-model;>
<!ATTLIST %store; %step-attrs;
 href %URIref; #IMPLIED
 byte-order-mark %boolean; #IMPLIED
 cdata-section-elements NMTOKENS #IMPLIED
 doctype-public CDATA #IMPLIED
 doctype-system %URIref; #IMPLIED
 encoding CDATA #IMPLIED
 escape-uri-attributes %boolean; #IMPLIED
 include-content-type %boolean; #IMPLIED
 indent %boolean; #IMPLIED
 media-type CDATA #IMPLIED
 method %QName; #IMPLIED
 normalization-form NMTOKEN #IMPLIED
 omit-xml-declaration %boolean; #IMPLIED
 standalone (true|false|omit) #IMPLIED
 undeclare-prefixes %boolean; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %string-replace; %step-model;>
<!ATTLIST %string-replace; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 replace %XPath_expression; #IMPLIED>
<!ELEMENT %unescape-markup; %step-model;>
<!ATTLIST %unescape-markup; %step-attrs;
 namespace %URIref; #IMPLIED
 content-type CDATA #IMPLIED
 encoding CDATA #IMPLIED
 charset CDATA #IMPLIED>
<!ELEMENT %unwrap; %step-model;>
<!ATTLIST %unwrap; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED>
<!ELEMENT %wrap; %step-model;>
<!ATTLIST %wrap; %step-attrs;
 wrapper %QName; #IMPLIED
 wrapper-prefix %NCName; #IMPLIED
 wrapper-namespace %URIref; #IMPLIED
 match %XSLT_match_pattern; #IMPLIED
 group-adjacent %XPath_expression; #IMPLIED>
<!ELEMENT %wrap-sequence; %step-model;>
<!ATTLIST %wrap-sequence; %step-attrs;
 wrapper %QName; #IMPLIED
 wrapper-prefix %NCName; #IMPLIED
 wrapper-namespace %URIref; #IMPLIED
 group-adjacent %XPath_expression; #IMPLIED>
<!ELEMENT %xinclude; %step-model;>
<!ATTLIST %xinclude; %step-attrs;
 fixup-xml-base %boolean; #IMPLIED
 fixup-xml-lang %boolean; #IMPLIED>
<!ELEMENT %xslt; %step-model;>
<!ATTLIST %xslt; %step-attrs;
 parameters CDATA #IMPLIED
 initial-mode %QName; #IMPLIED
 template-name %QName; #IMPLIED
 output-base-uri %URIref; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %exec; %step-model;>
<!ATTLIST %exec; %step-attrs;
 command CDATA #IMPLIED
 args CDATA #IMPLIED
 cwd CDATA #IMPLIED
 source-is-xml %boolean; #IMPLIED
 result-is-xml %boolean; #IMPLIED
 wrap-result-lines %boolean; #IMPLIED
 errors-is-xml %boolean; #IMPLIED
 wrap-error-lines %boolean; #IMPLIED
 path-separator CDATA #IMPLIED
 failure-threshold %integer; #IMPLIED
 arg-separator CDATA #IMPLIED
 byte-order-mark %boolean; #IMPLIED
 cdata-section-elements NMTOKENS #IMPLIED
 doctype-public CDATA #IMPLIED
 doctype-system %URIref; #IMPLIED
 encoding CDATA #IMPLIED
 escape-uri-attributes %boolean; #IMPLIED
 include-content-type %boolean; #IMPLIED
 indent %boolean; #IMPLIED
 media-type CDATA #IMPLIED
 method %QName; #IMPLIED
 normalization-form NMTOKEN #IMPLIED
 omit-xml-declaration %boolean; #IMPLIED
 standalone (true|false|omit) #IMPLIED
 undeclare-prefixes %boolean; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %hash; %step-model;>
<!ATTLIST %hash; %step-attrs;
 parameters CDATA #IMPLIED
 value CDATA #IMPLIED
 algorithm %QName; #IMPLIED
 match %XSLT_match_pattern; #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %in-scope-names; %step-model;>
<!ATTLIST %in-scope-names; %step-attrs;>
<!ELEMENT %template; %step-model;>
<!ATTLIST %template; %step-attrs;
 parameters CDATA #IMPLIED>
<!ELEMENT %uuid; %step-model;>
<!ATTLIST %uuid; %step-attrs;
 match %XSLT_match_pattern; #IMPLIED
 version %integer; #IMPLIED>
<!ELEMENT %validate-with-relax-ng; %step-model;>
<!ATTLIST %validate-with-relax-ng; %step-attrs;
 dtd-attribute-values %boolean; #IMPLIED
 dtd-id-idref-warnings %boolean; #IMPLIED
 assert-valid %boolean; #IMPLIED>
<!ELEMENT %validate-with-schematron; %step-model;>
<!ATTLIST %validate-with-schematron; %step-attrs;
 parameters CDATA #IMPLIED
 phase CDATA #IMPLIED
 assert-valid %boolean; #IMPLIED>
<!ELEMENT %validate-with-xml-schema; %step-model;>
<!ATTLIST %validate-with-xml-schema; %step-attrs;
 use-location-hints %boolean; #IMPLIED
 try-namespaces %boolean; #IMPLIED
 assert-valid %boolean; #IMPLIED
 mode (strict|lax) #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %www-form-urldecode; %step-model;>
<!ATTLIST %www-form-urldecode; %step-attrs;
 value CDATA #IMPLIED>
<!ELEMENT %www-form-urlencode; %step-model;>
<!ATTLIST %www-form-urlencode; %step-attrs;
 parameters CDATA #IMPLIED
 match %XSLT_match_pattern; #IMPLIED>
<!ELEMENT %xquery; %step-model;>
<!ATTLIST %xquery; %step-attrs;
 parameters CDATA #IMPLIED
 version CDATA #IMPLIED>
<!ELEMENT %xsl-formatter; %step-model;>
<!ATTLIST %xsl-formatter; %step-attrs;
 parameters CDATA #IMPLIED
 href %URIref; #IMPLIED
 content-type CDATA #IMPLIED>
