langspec/schemas/xproc.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:p="http://www.w3.org/ns/xproc" ns="http://www.w3.org/ns/xproc" xmlns:c="http://www.w3.org/ns/xproc-step" xmlns:s="http://www.ascc.net/xml/schematron" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sa="http://xproc.org/ns/syntax-annotations" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- This is schema version $Id: xproc.rnc,v 1.84 2010/05/03 20:31:46 NormanWalsh Exp $ -->
  <!-- This schema neither supports nor requires the use of RELAX NG DTD Compatibility -->
  <define name="XPathExpression" sa:model="XPathExpression">
    <text/>
  </define>
  <define name="XSLTMatchPattern" sa:model="XSLTMatchPattern">
    <text/>
  </define>
  <define name="XPathSequenceType" sa:model="XPathSequenceType">
    <text/>
  </define>
  <define name="ContentType" sa:model="ContentType">
    <text/>
  </define>
  <define name="ContentTypes" sa:model="ContentTypes">
    <text/>
  </define>
  <define name="PropertyMap" sa:model="map(xs:QName,item())">
    <text/>
  </define>
  <define name="SerializationMap" sa:model="map(xs:string,xs:anyAtomicValue)">
    <text/>
  </define>
  <define name="name.ncname.attr">
    <attribute name="name">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="name.qname.attr">
    <attribute name="name">
      <data type="QName"/>
    </attribute>
  </define>
  <define name="as.attr">
    <attribute name="as">
      <ref name="XPathSequenceType"/>
    </attribute>
  </define>
  <define name="port.attr">
    <attribute name="port">
      <data type="NCName"/>
    </attribute>
  </define>
  <define name="required.attr">
    <attribute name="required">
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="sequence.attr">
    <attribute name="sequence">
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="primary.attr">
    <attribute name="primary">
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="select.attr">
    <attribute name="select">
      <ref name="XPathExpression"/>
    </attribute>
  </define>
  <define name="xpath-version.attr">
    <attribute name="xpath-version"/>
  </define>
  <define name="psvi-required.attr">
    <attribute name="psvi-required">
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="document-properties.attr">
    <attribute name="document-properties">
      <ref name="PropertyMap"/>
    </attribute>
  </define>
  <define name="serialization.attr">
    <attribute name="serialization">
      <ref name="SerializationMap"/>
    </attribute>
  </define>
  <define name="content-type.attr">
    <attribute name="content-type">
      <ref name="ContentType"/>
    </attribute>
  </define>
  <define name="content-types.attr">
    <attribute name="content-types">
      <ref name="ContentTypes"/>
    </attribute>
  </define>
  <define name="collection.attr">
    <attribute name="collection">
      <data type="boolean"/>
    </attribute>
  </define>
  <define name="exclude-inline-prefixes.attr">
    <attribute name="exclude-inline-prefixes">
      <ref name="ExcludeInlinePrefixes"/>
    </attribute>
  </define>
  <!--
    Bah, humbug. The ExcludeInlinePrefixes pattern should 
    really be ("#all" | (PrefixList & "#default"?)) or
    maybe ("#all" | (PrefixList | "#default")+), but neither
    one of those is allowed by RELAX NG.
  -->
  <define name="ExcludeInlinePrefixes" sa:model="ExcludeInlinePrefixes">
    <text/>
  </define>
  <define name="PrefixList" sa:model="PrefixList">
    <data type="NMTOKENS"/>
  </define>
  <define name="QNameList" sa:model="QNameList">
    <data type="NMTOKENS"/>
  </define>
  <define name="xmlid.attr" sa:ignore="yes">
    <attribute name="xml:id">
      <data type="ID"/>
    </attribute>
  </define>
  <define name="xmlbase.attr" sa:ignore="yes">
    <attribute name="xml:base">
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="href.attr">
    <attribute name="href">
      <data type="anyURI"/>
    </attribute>
  </define>
  <define name="use-when.attr" sa:ignore="yes">
    <attribute name="use-when">
      <ref name="XPathExpression"/>
    </attribute>
  </define>
  <define name="p_use-when.attr" sa:ignore="yes">
    <attribute name="p:use-when">
      <ref name="XPathExpression"/>
    </attribute>
  </define>
  <define name="version.attr">
    <attribute name="version"/>
  </define>
  <define name="common.attributes">
    <optional>
      <ref name="xmlid.attr"/>
    </optional>
    <optional>
      <ref name="xmlbase.attr"/>
    </optional>
    <zeroOrMore>
      <ref name="extension.attr"/>
    </zeroOrMore>
  </define>
  <define name="inline.attributes">
    <optional>
      <ref name="exclude-inline-prefixes.attr"/>
    </optional>
  </define>
  <define name="decl.attributes">
    <optional>
      <ref name="psvi-required.attr"/>
    </optional>
    <optional>
      <ref name="xpath-version.attr"/>
    </optional>
    <optional>
      <ref name="exclude-inline-prefixes.attr"/>
    </optional>
    <optional>
      <ref name="version.attr"/>
    </optional>
  </define>
  <!-- ============================================================ -->
  <start>
    <choice>
      <ref name="Pipeline"/>
      <ref name="Library"/>
      <ref name="DeclareStep"/>
      <ref name="VocabParam"/>
      <ref name="VocabParamSet"/>
      <ref name="VocabResult"/>
      <ref name="VocabHttpRequest"/>
      <ref name="VocabHeader"/>
      <ref name="VocabMultipart"/>
      <ref name="VocabBody"/>
      <ref name="VocabHttpResponse"/>
      <ref name="VocabQuery"/>
      <ref name="VocabLine"/>
      <ref name="VocabData"/>
      <ref name="VocabDirectory"/>
      <ref name="Errors"/>
      <ref name="StandardStep"/>
    </choice>
  </start>
  <!-- ============================================================ -->
  <define name="Library" sa:class="language-construct">
    <element name="library">
      <ref name="decl.attributes"/>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Import"/>
          <ref name="DeclareStep"/>
          <ref name="Pipeline"/>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Import" sa:class="language-construct">
    <element name="import">
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="href.attr"/>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Pipeline" sa:class="language-construct">
    <element name="pipeline">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="QName"/>
        </attribute>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="decl.attributes"/>
      <zeroOrMore>
        <choice>
          <ref name="Input"/>
          <ref name="Output"/>
          <ref name="Option"/>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <ref name="DeclareStep"/>
          <ref name="Pipeline"/>
          <ref name="Import"/>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
      <ref name="Subpipeline"/>
    </element>
  </define>
  <define name="Subpipeline" sa:model="subpipeline">
    <zeroOrMore>
      <ref name="Variable"/>
    </zeroOrMore>
    <oneOrMore>
      <choice>
        <ref name="ForEach"/>
        <ref name="Viewport"/>
        <ref name="Choose"/>
        <ref name="If"/>
        <ref name="Group"/>
        <ref name="Try"/>
        <ref name="OtherStep"/>
        <ref name="Documentation"/>
        <ref name="PipeInfo"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- ============================================================ -->
  <define name="Input" sa:class="language-construct" sa:element="input">
    <element name="input">
      <ref name="port.attr"/>
      <optional>
        <ref name="sequence.attr"/>
      </optional>
      <optional>
        <ref name="primary.attr"/>
      </optional>
      <optional>
        <ref name="content-types.attr"/>
      </optional>
      <optional>
        <ref name="select.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <choice>
        <interleave>
          <optional>
            <choice>
              <ref name="Empty"/>
              <oneOrMore>
                <choice>
                  <ref name="Document"/>
                  <ref name="Inline"/>
                </choice>
              </oneOrMore>
            </choice>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Any"/>
      </choice>
    </element>
  </define>
  <define name="WithInput" sa:class="language-construct" sa:element="with-input">
    <element name="with-input">
      <optional>
        <ref name="port.attr"/>
      </optional>
      <optional>
        <ref name="select.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <choice>
        <interleave>
          <optional>
            <choice>
              <ref name="Empty"/>
              <oneOrMore>
                <choice>
                  <ref name="Pipe"/>
                  <ref name="Document"/>
                  <ref name="Inline"/>
                </choice>
              </oneOrMore>
            </choice>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Any"/>
      </choice>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="OutputDeclaration" sa:class="language-construct">
    <element name="output">
      <optional>
        <ref name="port.attr"/>
      </optional>
      <optional>
        <ref name="sequence.attr"/>
      </optional>
      <optional>
        <ref name="primary.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <ref name="serialization.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="OutputConnection" sa:class="language-construct">
    <element name="output">
      <optional>
        <ref name="port.attr"/>
      </optional>
      <optional>
        <ref name="sequence.attr"/>
      </optional>
      <optional>
        <ref name="primary.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <optional>
        <ref name="serialization.attr"/>
      </optional>
      <choice>
        <interleave>
          <optional>
            <choice>
              <ref name="Empty"/>
              <oneOrMore>
                <choice>
                  <ref name="Pipe"/>
                  <ref name="Document"/>
                  <ref name="Inline"/>
                </choice>
              </oneOrMore>
            </choice>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Any"/>
      </choice>
    </element>
  </define>
  <define name="Output" sa:element="output">
    <choice>
      <ref name="OutputDeclaration"/>
      <ref name="OutputConnection"/>
    </choice>
  </define>
  <define name="Pipe" sa:class="language-construct">
    <element name="pipe">
      <optional>
        <attribute name="step">
          <data type="NCName"/>
        </attribute>
      </optional>
      <optional>
        <ref name="port.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Document" sa:class="language-construct">
    <element name="document">
      <ref name="href.attr"/>
      <optional>
        <ref name="document-properties.attr"/>
      </optional>
      <optional>
        <attribute name="override-content-type">
          <ref name="ContentType"/>
        </attribute>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Inline" sa:class="language-construct">
    <element name="inline">
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <attribute name="expand-text">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="document-properties.attr"/>
      </optional>
      <optional>
        <attribute name="encoding"/>
      </optional>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <ref name="Any"/>
    </element>
  </define>
  <define name="Empty" sa:class="language-construct">
    <element name="empty">
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="OptionDeclaration" sa:class="language-construct">
    <element name="option">
      <ref name="name.qname.attr"/>
      <optional>
        <ref name="as.attr"/>
      </optional>
      <optional>
        <ref name="required.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="OptionSelect" sa:class="language-construct">
    <element name="option">
      <ref name="name.qname.attr"/>
      <optional>
        <ref name="as.attr"/>
      </optional>
      <optional>
        <ref name="required.attr"/>
      </optional>
      <ref name="select.attr"/>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Option" sa:element="option">
    <choice>
      <ref name="OptionDeclaration"/>
      <ref name="OptionSelect"/>
    </choice>
  </define>
  <!-- ============================================================ -->
  <define name="WithOptionSelect" sa:class="language-construct">
    <element name="with-option">
      <ref name="name.qname.attr"/>
      <optional>
        <ref name="as.attr"/>
      </optional>
      <ref name="select.attr"/>
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <choice>
        <interleave>
          <optional>
            <choice>
              <ref name="Empty"/>
              <ref name="Pipe"/>
              <ref name="Document"/>
              <ref name="Inline"/>
            </choice>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Namespaces"/>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Any"/>
      </choice>
    </element>
  </define>
  <define name="WithOption" sa:element="with-option">
    <ref name="WithOptionSelect"/>
  </define>
  <!-- ============================================================ -->
  <define name="VariableSelect" sa:class="language-construct">
    <element name="variable">
      <ref name="name.qname.attr"/>
      <optional>
        <ref name="as.attr"/>
      </optional>
      <ref name="select.attr"/>
      <optional>
        <ref name="collection.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <ref name="inline.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <choice>
        <interleave>
          <optional>
            <choice>
              <ref name="Empty"/>
              <ref name="Pipe"/>
              <ref name="Document"/>
              <ref name="Inline"/>
            </choice>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Namespaces"/>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Any"/>
      </choice>
    </element>
  </define>
  <define name="Variable" sa:element="variable">
    <ref name="VariableSelect"/>
  </define>
  <!-- ============================================================ -->
  <define name="Namespaces" sa:class="language-construct">
    <element name="namespaces">
      <optional>
        <attribute name="binding">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="element">
          <ref name="XPathExpression"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="except-prefixes">
          <ref name="PrefixList"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="DeclareStep" sa:class="language-construct">
    <element name="declare-step">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="QName"/>
        </attribute>
      </optional>
      <ref name="decl.attributes"/>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="Input"/>
          <ref name="Output"/>
          <ref name="Option"/>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
      <optional>
        <zeroOrMore>
          <choice>
            <ref name="DeclareStep"/>
            <ref name="Pipeline"/>
            <ref name="Import"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </optional>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="ForEach" sa:class="language-construct">
    <element name="for-each">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <interleave>
          <optional>
            <ref name="WithInput"/>
          </optional>
          <zeroOrMore>
            <choice>
              <ref name="Output"/>
              <ref name="Documentation"/>
              <ref name="PipeInfo"/>
            </choice>
          </zeroOrMore>
        </interleave>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="Viewport" sa:class="language-construct">
    <element name="viewport">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <attribute name="match">
        <ref name="XSLTMatchPattern"/>
      </attribute>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <interleave>
          <optional>
            <ref name="WithInput"/>
          </optional>
          <optional>
            <ref name="Output"/>
          </optional>
          <zeroOrMore>
            <ref name="Documentation"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="PipeInfo"/>
          </zeroOrMore>
        </interleave>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="Choose" sa:class="language-construct">
    <element name="choose">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="WithInput"/>
        </optional>
        <zeroOrMore>
          <ref name="Variable"/>
        </zeroOrMore>
        <zeroOrMore>
          <choice>
            <ref name="When"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="Otherwise"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </group>
    </element>
  </define>
  <define name="When" sa:class="language-construct">
    <element name="when">
      <attribute name="test">
        <ref name="XPathExpression"/>
      </attribute>
      <optional>
        <ref name="collection.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="WithInput"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <define name="Otherwise" sa:class="language-construct">
    <element name="otherwise">
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="If" sa:class="language-construct">
    <element name="if">
      <attribute name="test">
        <ref name="XPathExpression"/>
      </attribute>
      <optional>
        <ref name="collection.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <optional>
          <ref name="WithInput"/>
        </optional>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="Group" sa:class="language-construct">
    <element name="group">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="Try" sa:class="language-construct">
    <element name="try">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <interleave>
        <group>
          <zeroOrMore>
            <ref name="Variable"/>
          </zeroOrMore>
          <ref name="TryGroup"/>
          <oneOrMore>
            <ref name="Catch"/>
          </oneOrMore>
          <optional>
            <ref name="Finally"/>
          </optional>
        </group>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="TryGroup" sa:class="language-construct">
    <element name="group">
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <define name="Catch" sa:class="language-construct">
    <element name="catch">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <optional>
        <attribute name="code">
          <ref name="QNameList"/>
        </attribute>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <define name="Finally" sa:class="language-construct">
    <element name="finally">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="OtherAtomicStep" sa:class="language-construct">
    <element>
      <anyName>
        <except>
          <nsName/>
        </except>
      </anyName>
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <zeroOrMore>
        <ref name="option.attr"/>
      </zeroOrMore>
      <ref name="common.attributes"/>
      <optional>
        <ref name="p_use-when.attr"/>
      </optional>
      <zeroOrMore>
        <choice>
          <ref name="WithInput"/>
          <ref name="WithOption"/>
          <ref name="Documentation"/>
          <ref name="PipeInfo"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="OtherCompoundStep" sa:class="language-construct">
    <element>
      <anyName>
        <except>
          <nsName/>
        </except>
      </anyName>
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <ref name="common.attributes"/>
      <optional>
        <ref name="p_use-when.attr"/>
      </optional>
      <group>
        <zeroOrMore>
          <choice>
            <ref name="Output"/>
            <ref name="Documentation"/>
            <ref name="PipeInfo"/>
          </choice>
        </zeroOrMore>
        <ref name="Subpipeline"/>
      </group>
    </element>
  </define>
  <define name="OtherStep">
    <choice>
      <ref name="StandardStep"/>
      <ref name="OtherAtomicStep"/>
      <ref name="OtherCompoundStep"/>
    </choice>
  </define>
  <!-- ============================================================ -->
  <define name="Documentation" sa:ignore="yes" sa:class="language-construct">
    <element name="documentation">
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <ref name="DocContent"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="DocContent" sa:model="any-well-formed-content">
    <choice>
      <text/>
      <ref name="Any"/>
    </choice>
  </define>
  <!-- ============================================================ -->
  <define name="PipeInfo" sa:ignore="yes" sa:class="language-construct">
    <element name="pipeinfo">
      <ref name="common.attributes"/>
      <optional>
        <ref name="use-when.attr"/>
      </optional>
      <zeroOrMore>
        <ref name="DocContent"/>
      </zeroOrMore>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="_any.attr">
    <attribute>
      <anyName/>
    </attribute>
  </define>
  <define name="option.attr">
    <attribute>
      <nsName ns="">
        <except>
          <name>name</name>
        </except>
      </nsName>
    </attribute>
  </define>
  <define name="extension.attr">
    <attribute>
      <anyName>
        <except>
          <nsName ns=""/>
          <nsName ns="http://www.w3.org/XML/1998/namespace"/>
          <nsName/>
        </except>
      </anyName>
    </attribute>
  </define>
  <define name="Any" sa:model="anyElement">
    <element>
      <anyName/>
      <zeroOrMore>
        <choice>
          <ref name="_any.attr"/>
          <text/>
          <ref name="Any"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="VocabParam" sa:class="step-vocabulary">
    <element name="c:param">
      <ref name="name.qname.attr"/>
      <optional>
        <attribute name="namespace">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <attribute name="value"/>
      <empty/>
    </element>
  </define>
  <define name="VocabParamSet" sa:class="step-vocabulary">
    <element name="c:param-set">
      <zeroOrMore>
        <ref name="VocabParam"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="VocabDirectory" sa:class="step-vocabulary">
    <element name="c:directory">
      <attribute name="name"/>
      <zeroOrMore>
        <choice>
          <ref name="VocabFile"/>
          <ref name="VocabDirectory"/>
          <ref name="VocabOther"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="VocabFile" sa:class="step-vocabulary">
    <element name="c:file">
      <attribute name="name"/>
      <empty/>
    </element>
  </define>
  <define name="VocabOther" sa:class="step-vocabulary">
    <element name="c:other">
      <attribute name="name"/>
      <empty/>
    </element>
  </define>
  <define name="VocabResult" sa:class="step-vocabulary">
    <element name="c:result">
      <text/>
    </element>
  </define>
  <define name="VocabHttpRequest" sa:class="step-vocabulary">
    <element name="c:request">
      <attribute name="method">
        <data type="NCName"/>
      </attribute>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="detailed">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="status-only">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="username"/>
      </optional>
      <optional>
        <attribute name="password"/>
      </optional>
      <optional>
        <attribute name="auth-method"/>
      </optional>
      <optional>
        <attribute name="send-authorization">
          <data type="boolean"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="override-content-type">
          <ref name="ContentType"/>
        </attribute>
      </optional>
      <group>
        <zeroOrMore>
          <ref name="VocabHeader"/>
        </zeroOrMore>
        <optional>
          <choice>
            <ref name="VocabMultipart"/>
            <ref name="VocabBody"/>
          </choice>
        </optional>
      </group>
    </element>
  </define>
  <define name="VocabHeader" sa:class="step-vocabulary">
    <element name="c:header">
      <attribute name="name"/>
      <attribute name="value"/>
      <empty/>
    </element>
  </define>
  <define name="VocabMultipart" sa:class="step-vocabulary">
    <element name="c:multipart">
      <ref name="content-type.attr"/>
      <attribute name="boundary"/>
      <oneOrMore>
        <ref name="VocabBody"/>
      </oneOrMore>
    </element>
  </define>
  <define name="VocabBody" sa:class="step-vocabulary">
    <element name="c:body">
      <ref name="content-type.attr"/>
      <optional>
        <attribute name="encoding"/>
      </optional>
      <optional>
        <attribute name="id"/>
      </optional>
      <optional>
        <attribute name="description"/>
      </optional>
      <optional>
        <attribute name="disposition"/>
      </optional>
      <zeroOrMore>
        <ref name="Any"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="VocabHttpResponse" sa:class="step-vocabulary">
    <element name="c:response">
      <optional>
        <attribute name="status">
          <data type="integer"/>
        </attribute>
      </optional>
      <group>
        <zeroOrMore>
          <ref name="VocabHeader"/>
        </zeroOrMore>
        <optional>
          <choice>
            <ref name="VocabMultipart"/>
            <ref name="VocabBody"/>
          </choice>
        </optional>
      </group>
    </element>
  </define>
  <define name="VocabQuery" sa:class="step-vocabulary">
    <element name="c:query">
      <text/>
    </element>
  </define>
  <define name="VocabLine" sa:class="step-vocabulary">
    <element name="c:line">
      <text/>
    </element>
  </define>
  <define name="VocabData" sa:class="step-vocabulary">
    <element name="c:data">
      <ref name="content-type.attr"/>
      <optional>
        <attribute name="charset"/>
      </optional>
      <optional>
        <attribute name="encoding"/>
      </optional>
      <text/>
    </element>
  </define>
  <!-- ============================================================ -->
  <define name="Errors" sa:class="error-vocabulary">
    <element name="c:errors">
      <zeroOrMore>
        <ref name="Error"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="Error" sa:class="error-vocabulary">
    <element name="c:error">
      <optional>
        <ref name="name.ncname.attr"/>
      </optional>
      <optional>
        <attribute name="type">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="code">
          <data type="QName"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="href">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="line">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="column">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="offset">
          <data type="integer"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="Any"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="Charset">
    <text/>
  </define>
  <define name="Encoding">
    <text/>
  </define>
  <define name="MIMEContentType">
    <text/>
  </define>
  <define name="MIMEMediaType">
    <text/>
  </define>
  <define name="RegularExpression">
    <text/>
  </define>
  <define name="NormalizationForm">
    <choice>
      <value>NFC</value>
      <value>NFD</value>
      <value>NFKC</value>
      <value>NFKD</value>
      <value>fully-normalized</value>
      <value>none</value>
      <data type="NMTOKEN"/>
    </choice>
  </define>
  <define name="ListOfQNames">
    <text/>
  </define>
  <include href="steps.rng"/>
</grammar>
